*{
    margin:0;
    padding:0;
}
body{
    /* border: 2px , bold, black; */
    
}
.box{
    padding-top: 40px;
    width: 600px;
    height:auto;
    background-color: #fff;
    margin:auto;
    margin-top: 40px;
    margin:auto;
    border-radius: 5px;
}
.box .header{
    background-color: #000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.box .header p{
    text-align: center;
    padding:5px;
    font-size: 20px;
    color:#fff;
    font-family: sans-serif;
}
form{
    border: solid;
    display: flexbox;
    width:540px;
    height:fit-content;
    margin:auto;
    border-radius: 10px;
    padding:5px;
    margin-bottom: 40px;
}
.row{
    padding:8px;
    margin-top: 7px;
}
.row .col-2{
    text-align: center;
}
.row .col-4 input{
    background:#f5eded;
    border:none;
    outline: none;
    width: 22vh;
    padding:3px;
    border-radius: 5px;
}
.row .col-8 input{
    background:#f5eded;
    border:none;
    outline: none;
    padding:3px;
    border-radius: 5px;
    width:385px;
}
.row .col-8 textarea{
    background:#f5eded;
    border:none;
    outline: none;
    padding:3px;
    border-radius: 5px;
    width:385px;
}
.row .col-8 select{
    background:#f5eded;
    border:none;
    outline: none;
    padding:3px;
    border-radius: 5px;
    width:385px;
}
.row .col-3 input{
    background:#f5eded;
    border:none;
    outline: none;
    padding:3px;
    border-radius: 5px;
    width:100px;
}
.row .col-5 input{
    background:#f5eded;
    border:none;
    outline: none;
    padding:3px;
    border-radius: 5px;
    width:247px;
}



.row .col-6 select{
    background:#f5eded;
    border:none;
    outline: none;
    padding:3px;
    border-radius: 5px;
    width:385px;
}


.row .col-6 input{
    background:#f5eded;
    border:none;
    outline: none;
    padding:3px;
    border-radius: 5px;
    width:385px;
}